<h1>Names of all the item categories</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @item_categories.each do |item_category| %>
        <tr>
          <td>
            <%= item_category.id %>
          </td>
          <td>
            <%= link_to item_category.name, item_category %>
          </td>
          <td>
            <%= link_to "edit", edit_item_category_path(item_category) %> | <%= link_to "delete", item_category, method: :delete,
                                  data: { confirm: "You sure?" } %> | <%= link_to "go to items", items_path(item_category_id: item_category.id) %> | <%= link_to "+Add item", new_item_path(item_category_id: item_category.id) %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>