<h1>Names of all the items</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="2%"> Select </th>
        <th>ID</th>
        <th>NAME</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= check_box_tag item.id %>
          </td>
          <td>
            <%= item.id %>
          </td>
          <td>
            <%= link_to item.name, item %>
          </td>
          <td>
            <%= link_to "edit", edit_item_path(item, item_category_id: item.item_category.id) %> | <%= link_to "delete", item, method: :delete,
                                  data: { confirm: "You sure?" } %> | <%= link_to "list taxes", item_taxes_path(item_id: item.id) %> | <%= link_to "+Add item tax", new_item_tax_path(item_id: item.id) %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="tax_details">
  </div>
</div>

<button type="button" id="tax-button">Get Tax details</button>